@import "../../themes/mixin.scss";

.quizSearch {
  @include neonBorder;
  form {
    div {
      input {
        @include inputBorder;
        font-size: 22px;
        height: 40px;
      }
      span {
        text-shadow: none;
      }
    }
    button {
      @include submitButton;
      margin-bottom: 24px;
      width: 145px;
      height: 35px;
      animation: none;
      opacity: 1;
      margin: 20px 0 25px 0;
      padding-bottom: 2px;
      font-size: 20px;
    }
  }
}
