@import "../../themes/mixin.scss";
.aboutCon {
  opacity: 0;
  transform: translate(0, 50px);
  animation: fadeIn 0.4s ease forwards;
  background-color: var(--black-t);
  .aboutCancel {
    width: 40px;
    height: 40px;
    span {
      height: 5px;
      background-color: var(--blue);
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }
  .logo {
    img {
      border: 3px solid var(--blue);
      box-shadow: 0px 0px 4px 2px var(--blue),
        0px 0px 8px 0px rgb(0 191 255 / 0%), inset 0px 0px 4px 2px var(--blue);
    }
    h1 {
      color: var(--blue);
      text-shadow: 0 0 5px var(--blue), 2px 2px 2px rgb(206 89 55 / 0%);
    }
  }
  .points {
    h1,
    a {
      @include normalButton;
      color: var(--white);
      &:hover {
        @include normalButtonHover;
      }
    }
  }
}
