.formCon {
  margin-top: 20px;
  button {
    width: 200px;
    height: 50px;
    background: var(--blue);
    border-radius: 25px;
    font-size: 22px;
    color: white;
    margin-top: 35px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 15px 2px var(--blue),
      0px 0px 8px 0px rgb(0 191 255 / 0%);
    opacity: 0;
    transform: translate(0, 10px);
    animation: fadeInOpacity 0.5s 1s ease forwards;
  }
  div {
    opacity: 0;
    transform: translate(0, 10px);
  }
  div:nth-child(1) {
    animation: fadeInOpacity 0.5s 0s ease forwards;
  }
  div:nth-child(2) {
    animation: fadeInOpacity 0.5s 0.2s ease forwards;
  }
  div:nth-child(3) {
    animation: fadeInOpacity 0.5s 0.4s ease forwards;
  }
  div:nth-child(4) {
    animation: fadeInOpacity 0.5s 0.6s ease forwards;
  }
  div:nth-child(5) {
    animation: fadeInOpacity 0.5s 0.8s ease forwards;
  }
}
.logoCon {
  margin-top: 25px;
  opacity: 0;
  transform: translate(0, 10px);
  animation: fadeInOpacity 0.5s 0s ease forwards;
  img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  h1 {
    font-size: 23px;
    color: var(--blue);
    margin-left: 10px;
    text-shadow: 0 0 5px var(--blue), 2px 2px 2px rgb(206 89 55 / 0%);
  }
}

.inputCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  label {
    color: var(--gray);
    font-size: 22px;
  }
  input {
    border: 2px solid var(--blue);
    background: none;
    border-radius: 25px;
    color: white;
    width: 280px;
    height: 45px;
    margin-top: 5px;
    padding: 0px 15px 0px 15px;
    font-size: 23px;
    text-align: center;
    outline: none;
    text-shadow: 0 0 5px var(--white), 2px 2px 2px rgb(206 89 55 / 0%);
    box-shadow: 0px 0px 5px 1px var(--blue), 0px 0px 8px 0px rgb(0 191 255 / 0%);
  }
}
.subTitle {
  opacity: 0;
  transform: translate(0, 10px);
  animation: fadeInOpacity 0.5s 0.2s ease forwards;
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--gray);
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 3px var(--white), 2px 2px 2px rgb(206 89 55 / 0%);
  }
}

.quizCon,
.queCon,
.preBack {
  opacity: 0;
  transform: translate(0, 10px);
  animation: fadeInOpacity 0.5s 0s ease forwards;
  border: 3px solid #00b5ff;
  box-shadow: 0px 0px 4px 2px #00b5ff, 0px 0px 8px 0px rgb(0 191 255 / 0%),
    inset 0px 0px 4px 2px #00b5ff;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  color: var(--gray);
  text-shadow: 0 0 3px var(--white), 2px 2px 2px rgb(206 89 55 / 0%);
  font-size: 18px;
  overflow: hidden;
  transition: all 0.2s;
}

.logOutCon {
  opacity: 1;
  transform: translate(0, 50px);
  z-index: 1;
  button {
    width: 150px;
    height: 40px;
    background: var(--blue);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    margin-top: 35px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 7px 2px var(--blue), 0px 0px 8px 0px rgb(0 191 255 / 0%);
  }
}
.submitCon,
.prevBtn,
.nextBtn,
.preBack button {
  width: 150px;
  height: 40px;
  background: var(--blue);
  border-radius: 25px;
  font-size: 18px;
  color: white;
  margin-top: 35px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 7px 2px var(--blue), 0px 0px 8px 0px rgb(0 191 255 / 0%);
}
.prevBtn,
.nextBtn {
  width: 100px;
  height: 35px;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.back {
  top: 23px;
  left: 35px;
  width: 40px;
  height: 40px;
  span {
    width: 0px;
    height: 0px;
    background-color: var(--blue);
    position: absolute;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0px var(--blue);
  }
  span:nth-child(1),
  span:nth-child(3) {
    width: 0;
    left: 0;
    transform: rotate(0deg) translate(-2px, 0px);
    transform-origin: left;
  }
  span:nth-child(1) {
    animation: back2 0.5s ease 1s forwards;
  }
  span:nth-child(2) {
    right: 0;
    animation: back1 0.5s 0.5s ease forwards;
  }
  span:nth-child(3) {
    left: 0;
    transform: rotate(0deg) translate(-2px, 0px);
    transform-origin: left;
    animation: back3 0.5s ease 1s forwards;
  }
  @keyframes back1 {
    0% {
      width: 0;
      height: 0;
    }
    20% {
      width: 5px;
      height: 5px;
    }
    100% {
      width: 40px;
      height: 5px;
    }
  }
  @keyframes back2 {
    0% {
      width: 20px;
      height: 5px;
      transform: rotate(0deg) translate(-2px, 0px);
    }
    100% {
      width: 20px;
      height: 5px;
      transform: rotate(-45deg) translate(-2px, 0px);
    }
  }
  @keyframes back3 {
    0% {
      width: 20px;
      height: 5px;
      transform: rotate(0deg) translate(-2px, 0px);
    }
    100% {
      width: 20px;
      height: 5px;
      transform: rotate(45deg) translate(-2px, 0px);
    }
  }
}
.preBackCon {
  height: 100vh;
  position: fixed;
  background: #000000d1;
  z-index: 10;
  top: 0;
  left: 0;
  text-align: center;
  animation: fadeInAlert 0.3s ease forwards;
  .preBack {
    background: black;
    padding: 20px 10px 10px 10px;
    button {
      width: 100px;
      height: 35px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    button:nth-child(2) {
      background-color: var(--red);
      box-shadow: 0px 0px 7px 2px var(--red),
        0px 0px 8px 0px rgb(0 191 255 / 0%);
    }
  }
}

.navBurger {
  width: 40px;
  height: 40px;
  top: 23px;
  right: 23px;
  z-index: 2;
  span {
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 25px;
    background-color: var(--blue);
    box-shadow: 0px 0px 3px 0px var(--blue);
  }
  span:nth-child(1) {
    animation: burger1 0.5s 0.3s ease forwards;
  }
  span:nth-child(2) {
    animation: burger2 0.5s 0.6s ease forwards;
  }
  span:nth-child(3) {
    animation: burger3 0.5s 0.9s ease forwards;
  }
  @keyframes burger1 {
    0% {
      width: 0;
      height: 0;
      transform: translate(0px, 0px);
    }
    30% {
      height: 5px;
      transform: translate(0px, -10px);
    }
    100% {
      width: 40px;
      height: 5px;
      transform: translate(0px, -10px);
    }
  }
  @keyframes burger2 {
    0% {
      width: 0;
      height: 0;
      transform: translate(0px, 10px);
    }
    30% {
      height: 5px;
      transform: translate(0px, 0px);
    }
    100% {
      width: 40px;
      height: 5px;
      transform: translate(0px, 0px);
    }
  }
  @keyframes burger3 {
    0% {
      width: 0;
      height: 0;
      transform: translate(0px, 20px);
    }
    50% {
      height: 5px;
      transform: translate(0px, 10px);
    }
    100% {
      width: 40px;
      height: 5px;
      transform: translate(0px, 10px);
    }
  }
  .burgerSpan1 {
    animation: burgerSpan1 0.5s ease forwards !important;
  }
  .burgerSpan2 {
    animation: burgerSpan2 0.5s ease forwards !important;
  }
  .burgerSpan3 {
    animation: burgerSpan3 0.5s ease forwards !important;
  }
  @keyframes burgerSpan1 {
    0% {
      width: 40px;
      height: 5px;
      transform: rotate(0deg) translate(0px, -10px);
    }
    100% {
      width: 40px;
      height: 5px;
      transform: rotate(45deg) translate(0px, 0px);
    }
  }
  @keyframes burgerSpan2 {
    0% {
      width: 40px;
      height: 5px;
      opacity: 1;
    }
    100% {
      width: 40px;
      height: 5px;
      opacity: 0;
    }
  }
  @keyframes burgerSpan3 {
    0% {
      width: 40px;
      height: 5px;
      transform: rotate(0deg) translate(0px, 10px);
    }
    100% {
      width: 40px;
      height: 5px;
      transform: rotate(-45deg) translate(0px, 0px);
    }
  }
}
nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translate(100%, 0%);
  animation: navFadeIn 0.8s ease forwards;
  .navOption {
    position: absolute;
    top: 0;
    background: var(--black-t);
    width: 100vw;
    height: calc(100vh - 50vw);
    animation: navOption 0.5s ease 0.8s forwards;
  }
  span {
    // width: 70.7106781187vw;
    // height: 70.7106781187vw;
    width: 100vw;
    height: 100vw;
    position: absolute;
    border: 10px solid transparent;
    border-right: 10px solid var(--blue);
    pointer-events: none;
    bottom: 21vw;
  }
  span:nth-child(2) {
    transform: rotate(45deg);
    animation: navRod1 0.5s ease 0.8s forwards;
  }
  span:nth-child(3) {
    transform: rotate(135deg);
    animation: navRod2 0.5s ease 0.8s forwards;
  }
  span:nth-child(4) {
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 50vw solid var(--black-t);
    bottom: 5px;
    animation: spanFadeOut 0.3s ease 1.3s forwards;
  }
}
@keyframes navRod1 {
  0% {
    transform: rotate(45deg);
    bottom: 15vw;
  }
  100% {
    transform: rotate(90deg);
    bottom: 0;
  }
}
@keyframes navRod2 {
  0% {
    transform: rotate(135deg);
    bottom: 15vw;
  }
  100% {
    transform: rotate(90deg);
    bottom: 0;
  }
}
@keyframes navOption {
  0% {
    height: calc(100vh - 50vw);
  }
  100% {
    height: 100vh;
  }
}
@keyframes spanFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.navFadeOut {
  animation: navFadeOut 0.5s ease forwards;
}
@keyframes navFadeIn {
  0% {
    transform: translate(0%, -100%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes navFadeOut {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, -100%);
  }
}
@keyframes fadeInAlert {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeOut {
  animation: fadeOutAlert 0.4s ease forwards;
}
.fadeOut2 {
  animation: fadeOutAlert2 0.4s ease forwards;
}
@keyframes fadeOutAlert {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 10px);
  }
}
@keyframes fadeOutAlert2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
