.formCon {
  margin-top: 20px;
  button {
    width: 200px;
    height: 50px;
    background: var(--blue);
    border-radius: 25px;
    font-size: 22px;
    color: white;
    margin-top: 35px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 15px 2px var(--blue),
      0px 0px 8px 0px rgb(0 191 255 / 0%);
    opacity: 0;
    transform: translate(0, 10px);
    animation: fadeInOpacity 0.5s 1s ease forwards;
  }
  div {
    opacity: 0;
    transform: translate(0, 10px);
  }
  div:nth-child(1) {
    animation: fadeInOpacity 0.5s 0s ease forwards;
  }
  div:nth-child(2) {
    animation: fadeInOpacity 0.5s 0.2s ease forwards;
  }
  div:nth-child(3) {
    animation: fadeInOpacity 0.5s 0.4s ease forwards;
  }
  div:nth-child(4) {
    animation: fadeInOpacity 0.5s 0.6s ease forwards;
  }
  div:nth-child(5) {
    animation: fadeInOpacity 0.5s 0.8s ease forwards;
  }
}
.logoCon {
  margin-top: 25px;
  opacity: 0;
  transform: translate(0, 10px);
  animation: fadeInOpacity 0.5s 0s ease forwards;
  img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  h1 {
    font-size: 23px;
    color: var(--blue);
    margin-left: 10px;
    text-shadow: 0 0 5px var(--blue), 2px 2px 2px rgb(206 89 55 / 0%);
  }
}

.inputCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  label {
    color: var(--gray);
    font-size: 22px;
  }
  input {
    border: 2px solid var(--blue);
    background: none;
    border-radius: 25px;
    color: white;
    width: 280px;
    height: 45px;
    margin-top: 5px;
    padding: 0px 15px 0px 15px;
    font-size: 23px;
    text-align: center;
    outline: none;
    text-shadow: 0 0 5px var(--white), 2px 2px 2px rgb(206 89 55 / 0%);
    box-shadow: 0px 0px 5px 1px var(--blue), 0px 0px 8px 0px rgb(0 191 255 / 0%);
  }
}
.subTitle {
  opacity: 0;
  transform: translate(0, 10px);
  animation: fadeInOpacity 0.5s 0.2s ease forwards;
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--gray);
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 3px var(--white), 2px 2px 2px rgb(206 89 55 / 0%);
  }
}

.quizCon,
.queCon,
.preBack {
  opacity: 0;
  transform: translate(0, 10px);
  animation: fadeInOpacity 0.5s 0s ease forwards;
  border: 3px solid #00b5ff;
  box-shadow: 0px 0px 4px 2px #00b5ff, 0px 0px 8px 0px rgb(0 191 255 / 0%),
    inset 0px 0px 4px 2px #00b5ff;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  color: var(--gray);
  text-shadow: 0 0 3px var(--white), 2px 2px 2px rgb(206 89 55 / 0%);
  font-size: 18px;
  overflow: hidden;
  transition: all 0.2s;
}

.logOutCon {
  // bottom: 0;
  // position: absolute;
  opacity: 0;
  transform: translate(0, 50px);
  animation: fadeIn 0.5s 1.2s ease forwards;
  button {
    width: 150px;
    height: 40px;
    background: var(--blue);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    margin-top: 35px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 7px 2px var(--blue), 0px 0px 8px 0px rgb(0 191 255 / 0%);
  }
}
.submitCon,
.prevBtn,
.nextBtn,
.preBack button {
  width: 150px;
  height: 40px;
  background: var(--blue);
  border-radius: 25px;
  font-size: 18px;
  color: white;
  margin-top: 35px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 7px 2px var(--blue), 0px 0px 8px 0px rgb(0 191 255 / 0%);
}
.prevBtn,
.nextBtn {
  width: 100px;
  height: 35px;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.back {
  top: 22.5px;
  left: 25px;
  width: 40px;
  height: 40px;
  img {
    filter: invert(1);
  }
}
.preBackCon {
  height: 100vh;
  position: fixed;
  background: #000000d1;
  z-index: 10;
  top: 0;
  left: 0;
  text-align: center;
  animation: fadeInAlert 0.3s ease forwards;
  .preBack {
    background: black;
    padding: 20px 10px 10px 10px;
    button {
      width: 100px;
      height: 35px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    button:nth-child(2) {
      background-color: var(--red);
      box-shadow: 0px 0px 7px 2px var(--red),
        0px 0px 8px 0px rgb(0 191 255 / 0%);
    }
  }
}
@keyframes fadeInAlert {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeOut {
  animation: fadeOutAlert 0.4s ease forwards;
}
.fadeOut2 {
  animation: fadeOutAlert2 0.4s ease forwards;
}
@keyframes fadeOutAlert {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 10px);
  }
}
@keyframes fadeOutAlert2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
