@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  font-family: monospace;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.borderCon {
  border: 8px solid #00b5ff;
  height: 100vh;
  box-shadow: inset 0px 0px 30px 2px #00b5ff,
    0px 0px 8px 0px rgb(0 191 255 / 0%);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
.borderCon::before {
  border: 8px solid #00b5ff;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  content: "";
  border-radius: 20px;
}
