@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --sky-blue: #00b5ff;
  --white: #ffffff;
  --gray: #cfcfcf;
  --blue: #00c4ff;
  --blue-light: #00c3ff77;
  --blue-dark: #0089b3;
  --black: #000000;
  --black-t: #000000e3;
  --green: #00cc00;
  --red: #e60000;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--black);
  font-family: "Roboto Mono", monospace;
  height: 100%;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  #root {
    position: relative;
  }
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: var(--sky-blue);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--black);
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.borderCon {
  opacity: 0;
  border: 8px solid var(--sky-blue);
  height: 100%;
  box-shadow: inset 0px 0px 30px 2px var(--sky-blue),
    0px 0px 8px 0px rgb(0 191 255 / 0%);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: fadeInBorder 0.5s ease forwards;
}
.borderCon::before {
  opacity: 0;
  border: 8px solid var(--sky-blue);
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  content: "";
  border-radius: 20px;
  animation: fadeInBorder 0.5s 0.2s ease forwards;
}

@media only screen and (min-width: 1024px) {
  body {
    margin-right: 0.5em;
  }
  .borderCon,
  .borderCon::before {
    width: calc(100vw - 0.5em);
    height: calc(100vh - 42px);
    bottom: 0px;
    top: unset;
  }
}

@keyframes fadeInBorder {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
canvas {
  position: fixed !important;
  top: 0;
  right: 0px;
}
